{% extends "base.html" %}
{% block navbar %}
    <ul class="nav nav-tabs nav-justified">
        <li><a href="/status/">Status</a></li>
        <li class="active"><a href="/actions/">Actions</a></li>
        <li><a href="/action_groups/">Action Groups</a></li>
        <li><a href="/scheduling/">Scheduling</a></li>
        <li><a href="/reporting/">Reporting</a></li>
        <li><a href="/settings/">Settings</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container" style="padding-top:60px">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-9">
            <h3>Action Templates</h3>
          </div>
          <div class="col-lg-3" style="padding-top:10px; padding-left:50px">
             <a data-toggle="modal" href="#myModal" class="btn btn-default">New Template</a>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Selected<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Duplicate</a></li>
                <li class="divider"></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
          </div>
          <table class="table table-striped">
            <tr>
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th>Target Server</th>
              <th>Start Time</th>
              <th></th>
            </tr>
            <tbody>
            {% for action in actions%}
              <tr>
                <td><input type="checkbox" /></td>
                <td>{{ action.name }}</td>
                <td>{{ action.plugin_type }}</td>
                <td>{{ action.target }}</td>
                <td>{{ action.start_time }}</td>
                <td><i class="glyphicon glyphicon-cog"></i></td>
              </tr>
            {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
