<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
    <title>{% block title %}ChaosCowboy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="ChaosCowboy"/>
    <meta name="msapplication-TileColor" content="#004d18"/>
    <meta name="msapplication-TileImage" content="apple-touch-icon-144x144.png"/>


    <link href="{{STATIC_URL}}css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/bootstrap-glyphicons.css" media="screen" rel="stylesheet" type="text/css" />

    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script-->
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</head>

<body>
    <div class="navbar navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">ChaosCowboy</a>
        <div class="nav-collapse collapse navbar-responsive-collapse" style="padding-top:8px">
          {% block navbar %}
          <ul class="nav nav-tabs nav-justified">
            <li><a href="/status/">Status</a></li>
            <li><a href="/actions/">Actions</a></li>
            <li><a href="/action_groups/">Action Groups</a></li>
            <li><a href="/scheduling/">Scheduling</a></li>
            <li><a href="/reporting/">Reporting</a></li>
            <li><a href="/settings/">Settings</a></li>
          </ul>
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="container" style="padding-top:60px">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
</body>
</html>