{% extends "base.html" %}
{% block navbar %}
    <ul class="nav nav-tabs nav-justified">
        <li><a href="/status/">Status</a></li>
        <li><a href="/actions/">Actions</a></li>
        <li><a href="/action_groups/">Action Groups</a></li>
        <li><a href="/scheduling/">Scheduling</a></li>
        <li><a href="/reporting/">Reporting</a></li>
        <li class="active"><a href="/settings/">Settings</a></li>
    </ul>
{% endblock %}

{% block content %}
        <p><b>Username:</b> {{ username }}</p>
        <p><b>API Key</b>: {{ key }}</p>

{% endblock %}
