{% extends "base.html" %}
{% block navbar %}
<ul class="nav nav-tabs nav-justified" xmlns="http://www.w3.org/1999/html">
        <li><a href="/status/">Status</a></li>
        <li><a href="/actions/">Actions</a></li>
        <li><a href="/action_groups/">Action Groups</a></li>
        <li><a href="/scheduling/">Scheduling</a></li>
        <li><a href="/reporting/">Reporting</a></li>
        <li class="active"><a href="/settings/">Settings</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h3>Settings</h3>
        <div class="row">
            <div class="col-lg-3">
                <p><b>Username:</b> <input type="text" value={{ username }}></p>
                <p><b>API Key</b>: <input type="password" value={{ key }}></p>
            </div>
        </div>
    <button type='submit'>Submit</button>
    </div>

{% endblock %}
